.mb-5-up,
.my-5-up {
  margin-top: 3rem !important;
}

@media (min-width: 576px) {
  .mb-sm-5-up,
  .my-sm-5-up {
    margin-top: 3rem !important;
  }
}

@media (min-width: 768px) {
  .mb-md-5-up,
  .my-md-5-up {
    margin-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-5-up,
  .my-lg-5-up {
    margin-top: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-5-up,
  .my-xl-5-up {
    margin-top: 3rem !important;
  }
}